

// General Styles
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}
/* -------------------------------------------------- */


header {
    border-bottom: 4px solid $lightGray;
    .brand {
         .logo {
             h1 {
                text-align: center;
                color: $darkTeal;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-weight: 700;
            }
         }
    }
    .main-navigation, .user-menu {
        font-size: 1.25em;
        margin: 1.5em auto;
    }

    .user-menu {
        #login-button {
            border: 2px solid $lightGray;
            border-radius: 5px;
            padding: 1px 10px;
            transition: border 0.5s;
            &:hover {
                color: #000;
                border-color: $teal;
            }
        }

    }
}

footer {
  background-color: $purple;
  color: #fff;
  .disclaimer, .social-networks {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

// Buttons


a { text-decoration: none; color: $teal; transition: color 0.5s; }
a:hover{ color: #000; text-decoration: none; font-weight: 400; }

.link-button {
    color: #000 !important;
}

.boton-link {
  display: inline-block;
  padding: 5px 0;
}

.boton-primario {
  @include boton($teal, darken($tealA200, 20%));
}
.boton-secundario {
  @include boton($purple, $purpleA200);
}

.subscribe-button {
  @extend .boton-secundario;
}



//forms

.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    border: none;
    border-bottom: 2px solid $teal;
    box-shadow: none;
  }
}