
// Colors
$lightTeal: #B2DFDB;
$teal: #009688;
$darkTeal: #00796B;
$tealA200: #64FFDA;

$purple: #9C27B0;
$purpleA200: #E040FB;
$purpleA400: #D500F9;
$purpleA700: #AA00FF;
$yellow: #FFEB3B;
$blue: #2196F3;
$red: #F44336;


$gray: #9E9E9E;
$lightGray: #EEEEEE;

$deepPurple: #E040FB;