//Buttons

@mixin boton($color, $colorAccent) {
  background-color: $color;
  color:#fff;
  display: block;
  padding: 0;
  border: none;
  border-bottom: 5px solid darken($color, 10%);
  width: 100%;
  line-height: 50px;
  border-radius: 0;
  transition: background-color 0.5s;
  text-align: center;
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    background-color: darken($colorAccent, 15%);
  }
}

