.course-banner {
    img {
        width: 100%;
        max-height: 200px;
    }

}
.sidebar {
    background-color: $lightGray;
    img {
        width: 100%;
    }
    padding: 5px;
    .course-description {
        margin: 5px 0;
        padding:5px;
        background-color: lighten($lightGray,30%);
        .linea {
            border-bottom: 1px solid $lightGray;
            clear: both;
            padding: 8px 0;
            .tag {
                color: #222;
                font-weight: 100;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .reviews {
        @extend .course-description;
        font-size: 1.1em;
        .review {

        }
    }
    .review-button {
        display: block;
        margin: 5px 0;
        padding: 20px 10px;
        width: 100%;
        border-radius: 0;
        text-align: center;
        width: 100%;
        text-align: center;
        background-color: lighten($lightGray, 30%);
    }
    .review-list {
        padding: 5px;
        background-color: lighten($lightGray, 30%);
        .review {
            margin: 5px 0;
            border-bottom: 1px solid $lightGray;
            .review-body {
                margin: 5px 0;
            }
            .reviewer {
                img {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }
                a {
                    font-size: 0.8em;
                }
                .rating {
                    color: $teal;
                }
            }
        }
    }
}