.courses-box {
    margin-top: 30px;

    .course {
        padding: 20px 10px;
        margin: 10px 0;
        img {
            width: 100%;
        }
        h3 {
            margin-top: 0;
            color: $purple;
        }
        background-color: $lightGray;
    }
    .busqueda {
        border-bottom: 2px solid $lightGray;
        box-shadow: none;
        &:focus{
            border-color: $teal;
        }
    }
    .left-inner-addon {
        position: relative;
        input {
            padding-left: 20px;
            padding-top: 12px;
        }
        i {
            position: absolute;
            padding: 10px 0px;
            pointer-events: none;
            color: $gray;
        }
    }

    .categorias {
        margin-top: 20px;
    }
    .list-group-item {
        &:first-child {
            border-radius: 0;
        }
        border: 0;
    }
    .list-group-item.active {
        background-color: $teal;
        border-color: darken($teal,5%);
        .badge {
            background-color: #fff;
            color: $purpleA200;
        }
    }

}

