.search-banner {
    min-height: 300px;
    background-color: $purple;
    color: #fff;
    position: relative;
    .search-bar {
        width: 100%;
        position: absolute;
        bottom: 50px;
        font-size: 1.3em;
        p {
            margin-bottom: 7px;
        }
        input[type="search"] {
            width: 100%;
            color: $gray;
            padding-left: 10px;
            border: 1px solid;
        }
    }
}

.cursos-wrapper {
    background-color: $lightGray;
    clear: both;
    color: #000;
    margin: 15px auto;

    .starting-soon {
        font-size: 1.5em;
        padding: 20px;
        color: $teal;
        margin-bottom: 0px;
        text-align: center;
    }
    .cursos-box {
        .curso {
            background-color: #fff;
            margin-bottom: 15px;
            img { width: 100%; }
            .universidad {
                font-size: 0.8em;
            }
            .content {
                border-top: 2px solid $teal;
                border-bottom: 2px solid $teal;

                padding: 10px;
                .title {
                    min-height: 72px;
                }
                p {
                    margin: 0;
                }
                p > span.start-date {
                    float: right;
                }
                h3 {
                    color: $purple;
                }
            }

        }
      a.ver-mas {
        color: $teal;
        float: right;
        margin: 20px;
        padding: 2px 20px;
        border: 2px solid $gray;
        text-decoration: none;
        transition: all 0.5s;
        border-radius: 4px;
        &:hover {
            border-color: $teal;
            color: #000;
        }
      }
    }
}

.small-triangle {
    margin: 0 auto;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 10px 0 10px;
    border-color: $purple transparent transparent transparent;
}