.profile-box {
    @extend .courses-box;
    .profile {
        background-color: $lightGray;
        .foto, .nombre{
            display: inline-block;
        }
        .nombre {
            vertical-align: top;
        }
        .biografia {
            margin: 5px;
            padding: 5px;
            background-color: lighten($lightGray,30%);
            h5 {
                font-weight: 700;
            }
        }
        .info {
            @extend .biografia;
            .linea {
                width: 100%;
                span {
                    font-weight: 700;
                }
            }
        }
        .edit {
            a {
                margin-right: 10px;
                margin-bottom: 5px;
            }
        }
        .menu {
            padding: 20px 0 0 20px;
            background-color: darken($lightGray,10%);
        }
        .cursos-wrapper {
            padding: 5px;
            .cursos {
                .curso {
                    .ir-al-curso-button {
                        float:right;
                        background-color: $purple;
                        color: #fff;
                    }
                    margin-bottom: 5px;
                    padding: 5px;
                    background-color: #fff;
                    i {
                        color: $purple;
                        font-size: 1.5em;
                    }
                    .universidad, .fecha-fin {
                        display: inline-block;
                    }
                    .fecha-fin {
                        float: right;
                    }
                    .titulo {
                        h3 {
                            margin-top: 10px;
                            margin-bottom: 5px;
                        }
                    }
                    .progress {
                        background-color: $lightGray;
                        box-shadow: none;
                        border-radius: 0;
                        .progress-bar {
                            background-color: $teal;
                        }
                    }

                }

            }


        }
    }
}