.registration-box {
    @extend .login-box;
    .terms  {
        .checkbox {
            display: inline-block;
        }
    }
    .register-button {
        .boton-primario {
            margin-top: 10px;
            width: 100%;
        }
    }
}