body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}

/* -------------------------------------------------- */
header {
  border-bottom: 4px solid #EEEEEE;
}
header .brand .logo h1 {
  text-align: center;
  color: #00796B;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
header .main-navigation, header .user-menu {
  font-size: 1.25em;
  margin: 1.5em auto;
}
header .user-menu #login-button {
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1px 10px;
  -webkit-transition: border 0.5s;
          transition: border 0.5s;
}
header .user-menu #login-button:hover {
  color: #000;
  border-color: #009688;
}

footer {
  background-color: #9C27B0;
  color: #fff;
}
footer .disclaimer, footer .social-networks {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #009688;
  -webkit-transition: color 0.5s;
          transition: color 0.5s;
}

a:hover {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.link-button {
  color: #000 !important;
}

.boton-link {
  display: inline-block;
  padding: 5px 0;
}

.boton-primario {
  background-color: #009688;
  color: #fff;
  display: block;
  padding: 0;
  border: none;
  border-bottom: 5px solid #00635a;
  width: 100%;
  line-height: 50px;
  border-radius: 0;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
  text-align: center;
}
.boton-primario:hover, .boton-primario:focus {
  text-decoration: none;
  color: #fff;
  background-color: #00b186;
}

.boton-secundario, .subscribe-button {
  background-color: #9C27B0;
  color: #fff;
  display: block;
  padding: 0;
  border: none;
  border-bottom: 5px solid #771e86;
  width: 100%;
  line-height: 50px;
  border-radius: 0;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
  text-align: center;
}
.boton-secundario:hover, .subscribe-button:hover, .boton-secundario:focus, .subscribe-button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #c905ea;
}

.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  border: none;
  border-bottom: 2px solid #009688;
  box-shadow: none;
}

.search-banner {
  min-height: 300px;
  background-color: #9C27B0;
  color: #fff;
  position: relative;
}
.search-banner .search-bar {
  width: 100%;
  position: absolute;
  bottom: 50px;
  font-size: 1.3em;
}
.search-banner .search-bar p {
  margin-bottom: 7px;
}
.search-banner .search-bar input[type="search"] {
  width: 100%;
  color: #9E9E9E;
  padding-left: 10px;
  border: 1px solid;
}

.cursos-wrapper {
  background-color: #EEEEEE;
  clear: both;
  color: #000;
  margin: 15px auto;
}
.cursos-wrapper .starting-soon {
  font-size: 1.5em;
  padding: 20px;
  color: #009688;
  margin-bottom: 0px;
  text-align: center;
}
.cursos-wrapper .cursos-box .curso {
  background-color: #fff;
  margin-bottom: 15px;
}
.cursos-wrapper .cursos-box .curso img {
  width: 100%;
}
.cursos-wrapper .cursos-box .curso .universidad {
  font-size: 0.8em;
}
.cursos-wrapper .cursos-box .curso .content {
  border-top: 2px solid #009688;
  border-bottom: 2px solid #009688;
  padding: 10px;
}
.cursos-wrapper .cursos-box .curso .content .title {
  min-height: 72px;
}
.cursos-wrapper .cursos-box .curso .content p {
  margin: 0;
}
.cursos-wrapper .cursos-box .curso .content p > span.start-date {
  float: right;
}
.cursos-wrapper .cursos-box .curso .content h3 {
  color: #9C27B0;
}
.cursos-wrapper .cursos-box a.ver-mas {
  color: #009688;
  float: right;
  margin: 20px;
  padding: 2px 20px;
  border: 2px solid #9E9E9E;
  text-decoration: none;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  border-radius: 4px;
}
.cursos-wrapper .cursos-box a.ver-mas:hover {
  border-color: #009688;
  color: #000;
}

.small-triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 0 10px;
  border-color: #9C27B0 transparent transparent transparent;
}

.login-box, .registration-box {
  background-color: #EEEEEE;
  padding: 40px;
  margin: 40px auto;
}

.registration-box .terms .checkbox {
  display: inline-block;
}
.registration-box .register-button .boton-primario {
  margin-top: 10px;
  width: 100%;
}

.courses-box, .profile-box {
  margin-top: 30px;
}
.courses-box .course, .profile-box .course {
  padding: 20px 10px;
  margin: 10px 0;
  background-color: #EEEEEE;
}
.courses-box .course img, .profile-box .course img {
  width: 100%;
}
.courses-box .course h3, .profile-box .course h3 {
  margin-top: 0;
  color: #9C27B0;
}
.courses-box .busqueda, .profile-box .busqueda {
  border-bottom: 2px solid #EEEEEE;
  box-shadow: none;
}
.courses-box .busqueda:focus, .profile-box .busqueda:focus {
  border-color: #009688;
}
.courses-box .left-inner-addon, .profile-box .left-inner-addon {
  position: relative;
}
.courses-box .left-inner-addon input, .profile-box .left-inner-addon input {
  padding-left: 20px;
  padding-top: 12px;
}
.courses-box .left-inner-addon i, .profile-box .left-inner-addon i {
  position: absolute;
  padding: 10px 0px;
  pointer-events: none;
  color: #9E9E9E;
}
.courses-box .categorias, .profile-box .categorias {
  margin-top: 20px;
}
.courses-box .list-group-item, .profile-box .list-group-item {
  border: 0;
}
.courses-box .list-group-item:first-child, .profile-box .list-group-item:first-child {
  border-radius: 0;
}
.courses-box .list-group-item.active, .profile-box .list-group-item.active {
  background-color: #009688;
  border-color: #007d71;
}
.courses-box .list-group-item.active .badge, .profile-box .list-group-item.active .badge {
  background-color: #fff;
  color: #E040FB;
}

.course-banner img {
  width: 100%;
  max-height: 200px;
}

.sidebar {
  background-color: #EEEEEE;
  padding: 5px;
}
.sidebar img {
  width: 100%;
}
.sidebar .course-description, .sidebar .reviews {
  margin: 5px 0;
  padding: 5px;
  background-color: white;
}
.sidebar .course-description .linea, .sidebar .reviews .linea {
  border-bottom: 1px solid #EEEEEE;
  clear: both;
  padding: 8px 0;
}
.sidebar .course-description .linea .tag, .sidebar .reviews .linea .tag {
  color: #222;
  font-weight: 100;
}
.sidebar .course-description .linea:last-child, .sidebar .reviews .linea:last-child {
  border: none;
}
.sidebar .reviews {
  font-size: 1.1em;
}
.sidebar .review-button {
  display: block;
  margin: 5px 0;
  padding: 20px 10px;
  width: 100%;
  border-radius: 0;
  text-align: center;
  width: 100%;
  text-align: center;
  background-color: white;
}
.sidebar .review-list {
  padding: 5px;
  background-color: white;
}
.sidebar .review-list .review {
  margin: 5px 0;
  border-bottom: 1px solid #EEEEEE;
}
.sidebar .review-list .review .review-body {
  margin: 5px 0;
}
.sidebar .review-list .review .reviewer img {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.sidebar .review-list .review .reviewer a {
  font-size: 0.8em;
}
.sidebar .review-list .review .reviewer .rating {
  color: #009688;
}

.profile-box .profile {
  background-color: #EEEEEE;
}
.profile-box .profile .foto, .profile-box .profile .nombre {
  display: inline-block;
}
.profile-box .profile .nombre {
  vertical-align: top;
}
.profile-box .profile .biografia, .profile-box .profile .info {
  margin: 5px;
  padding: 5px;
  background-color: white;
}
.profile-box .profile .biografia h5, .profile-box .profile .info h5 {
  font-weight: 700;
}
.profile-box .profile .info .linea {
  width: 100%;
}
.profile-box .profile .info .linea span {
  font-weight: 700;
}
.profile-box .profile .edit a {
  margin-right: 10px;
  margin-bottom: 5px;
}
.profile-box .profile .menu {
  padding: 20px 0 0 20px;
  background-color: #d4d4d4;
}
.profile-box .profile .cursos-wrapper {
  padding: 5px;
}
.profile-box .profile .cursos-wrapper .cursos .curso {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
}
.profile-box .profile .cursos-wrapper .cursos .curso .ir-al-curso-button {
  float: right;
  background-color: #9C27B0;
  color: #fff;
}
.profile-box .profile .cursos-wrapper .cursos .curso i {
  color: #9C27B0;
  font-size: 1.5em;
}
.profile-box .profile .cursos-wrapper .cursos .curso .universidad, .profile-box .profile .cursos-wrapper .cursos .curso .fecha-fin {
  display: inline-block;
}
.profile-box .profile .cursos-wrapper .cursos .curso .fecha-fin {
  float: right;
}
.profile-box .profile .cursos-wrapper .cursos .curso .titulo h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.profile-box .profile .cursos-wrapper .cursos .curso .progress {
  background-color: #EEEEEE;
  box-shadow: none;
  border-radius: 0;
}
.profile-box .profile .cursos-wrapper .cursos .curso .progress .progress-bar {
  background-color: #009688;
}
